body {
  font-size: 150%;
  background-image: url('../img/emoji.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

.container {
  position: relative;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  height: auto;
}

.container>h1 {
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  text-decoration: underline;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.jumbotron>footer {
  background: black;
  color: white;
  overflow: auto;
  opacity: 0.5;
}

.jumbotron {
  opacity: 0.75;
}

.jumbotron>h1 {
  font-family: 'Arial', sans-serif;
  color: red;
}
